*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
}

.mn{
    background-color: #131313;
}

.nav{
    position: fixed;
    height: 5rem;
    width: 100%;
    background-color: #1c1c1c;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 2rem;
    transition: 0.3s;
}

.nav-active{
    position: fixed;
    height: 3rem;
    width: 100%;
    background-color: #a4a4a4;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 2rem;
}

.logo{
    font-family: sans-serif;
    font-size: 3rem;
    color: gray;
}

.logo-active{
    font-family: sans-serif;
    font-size: 2rem;
    color: rgb(33, 33, 33);
}

ul{
    list-style: none;
}

ul li {
    display: inline-block;
}

ul li .anchor{
    color: #fff;
    text-decoration: none;
    font-family: sans-serif;
    font-size: 1.3rem;
    margin: 0 1.5rem;
    padding: 5px 10px;
}

ul li .anchor-active{
    color: #1c1c1c;
    text-decoration: none;
    font-family: sans-serif;
    font-size: 1.3rem;
    margin: 0 1.5rem;
    padding: 5px 10px;
}

ul li .anchor:hover{
    background-color: #fff;
    color: #000;
}

ul li a.active{
    background-color: #fff;
    color: #000;
}

.first{
    height: 100vh;
    width: 100%;
    background-color: palegreen;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 3rem;
    font-family: sans-serif;
}

.second{
    height: 100vh;
    width: 100%;
    background-color: antiquewhite;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 3rem;
    font-family: sans-serif;
}

.third{
    height: 100vh;
    width: 100%;
    background-color: forestgreen;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 3rem;
    font-family: sans-serif;
}

.four{
    height: 100vh;
    width: 100%;
    background-color: sandybrown;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 3rem;
    font-family: sans-serif;
}
